name: Deploy Blog

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Deploy Blog
      uses: appleboy/ssh-action@master
      with:
        host: ${{secrets.BLOG_ALIYUN_HOST}}
        username: ${{secrets.BLOG_ALIYUN_USERNAME}}
        key: ${{secrets.ID_RSA_HUG_BLOG_ALIYUN}}
        script:  |
          if [ ! -d "~/kk70-blog-source" ]; then
            git clone https://github.com/kevin70/blog.git ~/kk70-blog-source
          fi
          cd ~/kk70-blog-source
          git pull --rebase