name: Deploy Blog

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # 安装 SSH Key
    - name: Install SSH key
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan blog-server.kk70.top >> ~/.ssh/known_hosts
        echo "${{ secrets.ID_RSA_HUG_BLOG_ALIYUN }}" >> ~/.ssh/id_rsa

    # Runs a single command using the runners shell
    - name: Cat id_rsa
      run: cat ~/.ssh/id_rsa